/* Config Gerais */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body{
    background-image: url('../images/img02.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.container{
    display: flex;
    justify-content: center;
    height:100vh;
    align-items: center;
}

.container div:first-child{
    background-color: white;
    width: 380px;
    padding:30px;
    height:400px;
    border-radius: 8px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.25);
}

.return{
    text-decoration: none;
    font-size:14px;
}


h2{
    font-size: 24px;
}


.texts{
    margin-bottom:30px;
}


.input-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

input{
    box-sizing: border-box;
    padding: 6px;
    border: 1px solid rgba(0,0,0,.55);
    border-radius: 4px !important;
}

input:focus{
    border: 1px solid blue;
    outline: none;
}

.btns{
    display: flex;
    justify-content:center;
    margin-top:20px;
}


